

/** Accueil **/
body {
  background-color: rgb(239, 239, 239);
}

/* ::-webkit-scrollbar{
  background: transparent;
} */

.image_containerAccueil{
    position: absolute;
    bottom: 15%;
    left: 1%;
    width: 20%;
    height: 31% ;
    border-style: solid;
    border-color:  rgba(216, 200, 170, 0);
    margin: 5px;
  }

.image_containerAccueil2{
    position: absolute;
    bottom: 15%;
    right: 1%;
    width: 20%;
    height: 31% ;
    border-style: solid;
    border-color:  rgba(216, 200, 170, 0);
    margin: 5px;
  }
/*
  @keyframes obs_animation {
    0% {transform: translateX(0);}
    100% {transform: translateX(-5500px);}
  } */

  .image_containerAccueil .listImage, .image_containerAccueil2 .listImage{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction:row;
    overflow-x: scroll;
    overflow-x:visible;
    overflow-y: visible;

  }


  .image_containerAccueil .item, .image_containerAccueil2 .item{
    width: 2px;
    color: rgb(0, 0, 0);
    background: rgba(255, 255, 255, 0);
    flex: 3 0 25%;
    outline: 2px solid rgb(39, 39, 39);
    border-radius: 8px;
    height: 130px;
    margin: 5px;
    padding: 0;
    object-fit:cover;

    /* animation: obs_animation 50s infinite linear; */

  }

  .image_containerAccueil .listImage, .image_containerAccueil2 .listImage{
    position: absolute;
    top:80px;
    width:100%;
  }

  .image_containerAccueil .vignette, .image_containerAccueil2 .vignette{
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 90%;
    width: 80;
  }

  #logo_ivog{
    position: absolute;
    top: 5%;
    left: 3%;
    width: 20%;
    object-fit:contain;
    margin: 2px;
    height: 200px;
    z-index: 1;

  }

  #logo_ensg{
    position: absolute;
    top: 13%;
    right: 6%;
    width: 4.6%;
    height: 5%;
    object-fit:contain;
    margin: 10px;
    z-index: 1;
  }

  #logo_ipgp{
    position: absolute;
    top: 11%;
    right: 1%;
    width: 5%;
    height: 10%;
    object-fit:contain;
    margin: 5px;
    z-index: 1;
  }


  #logo_ign{
    position: absolute;
    top: 13%;
    right: 11%;
    width: 4.6%;
    height: 5%;
    object-fit:contain;
    margin: 10px;
    z-index: 1;
  }

  #logo_UPC{
    position: absolute;
    top: 14%;
    right: 15%;
    width: 5.6%;
    height: 5%;
    object-fit:contain;
    margin: 10px;
    z-index: 1;
  }

  .img_logo{
    width: 80%;
    object-fit:cover;
  }

  #name_app{
    position: absolute;
    top: 13%;
    left: 20%;
    width: 58%;
    height: 13%;
    object-fit:contain;
    z-index: -1;
    word-wrap: break-word;
    line-height: 18pt;
    margin: 10px;
    text-align: center;
    font-size: 11pt;
  }

  #description_app{
    position: absolute;
    top: 33%;
    left: 5%;
    width: 80%;
    height: 15%;
    z-index: -1;
    word-wrap: break-word;
    line-height: 16pt;
    text-align: center;
    font-family:sans-serif;
  }

  #description_onglets{
    position: absolute;
    top: 30%;
    left:30%;
    width: 570px;
    height: 120px;
    text-align: left;
  }

  #titre_description1{
    position: absolute;
    top: 15%;
    left: 20%;
    width: 58%;
    height: 13%;
    object-fit:contain;
    z-index: -1;
    word-wrap: break-word;
    line-height: 16pt;
    margin: 10px;
    text-align: center;
    font-family: georgia, serif;
    font-size: 80%;
  }

  #titre_description2{
    position: absolute;
    top: 29%;
    left: 20%;
    width: 58%;
    height: 13%;
    object-fit:contain;
    z-index: -1;
    word-wrap: break-word;
    line-height: 16pt;
    margin: 10px;
    text-align: center;
    font-family: georgia, serif;
    font-size: 80%;
  }


   #txt_part_1 {
    position: absolute;
    top: 30%;
    left: 9%;
    width: 40%;
    height: fit-content;
    border: solid 2px black;
    border-radius:4%;
    font-size:18px;
    background-color: rgba(247, 247, 247, 0.685);

  }

  #txt_part_2 {
    position: absolute;
    top: 118%;
    left: 60%;
    width: 45%;
    height: fit-content;
    border: solid 2px black;
    border-radius:4%;
    font-size: 18px;
    background-color: rgba(247, 247, 247, 0.685);
}


  #onglet {
    position: absolute;
    top: 30%;
    left: -30%;
    width: 160%;
    height: fit-content;
    border: solid 1px black;

  }

  .bienvenue {
    position: absolute;
    top: 36%;
    left: 25%;
    width: 50%;
    border: solid 2px black;
    border-radius: 10%;
    height: fit-content;
    font-size:18px;
    background-color: rgba(247, 247, 247, 0.685);
    font-family: Arial, Helvetica, sans-serif
  }

  #titre_def_geodesie {
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%, 10px);
  }
  .titre2_accueil, #titre_def_geodesie, .equipeDescription{
    color: rgb(25, 41, 124);
    font-size:28px;
    font-weight: bold;
    text-align: center;
  }
 .equipeDescription{
    color: rgb(25, 41, 124);
    font-size:18px;
    font-weight: bold;
    text-align: center;
  }
  #accessAutreElementAccueil {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: fit-content;
    font-size:10pt;
  }

.AutreElementAccueil{
  margin: 1% ;
  color: rgb(0, 0, 0);
  font-weight: bolder;

}

.ressource {
  position: absolute;
  bottom: 0%;
  left: 0%;
  margin: 1%;
}

#chart{
  text-align: center;
  position: absolute;
  top: 36%;
  left: 30%;
  object-fit: contain;
}
#img_slide5{
  width: 100%;
  height: 100%;
}



  li {
    display: list-item;
    list-style-type: circle;
  }


  .slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 8%;

}

.slides {
  display: flex;
  overflow-x: scroll;
  overflow: hidden;
  position: relative;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}



.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  height: 520px;
  margin-right: 0px;
  box-sizing: border-box;
  transform-origin: center center;
  transform: scale(1);
  scroll-snap-align: center;
}

.slide__text {
  font-size: 40px;
  font-weight: bold;
  font-family: sans-serif;
}

.slide a {
  background: none;
  border: none;
}

a.slide__prev,
.slider::before {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  left: 8%;
}

a.slide__next,
.slider::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  right: 8%;
}

.slider::before,
.slider::after,
.slide__prev,
.slide__next {
  position: absolute;
  top: 48%;
  width: 35px;
  height: 35px;
  border: solid black;
  border-width: 0 4px 4px 0;
  padding: 3px;
  box-sizing: border-box;
}

.slider::before,
.slider::after {
content: '';
z-index: 1;
background: none;
pointer-events: none;
}

.slider__nav {
  color: transparent;
}

.slider__navlink {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: black;
  margin: 0 10px 0 10px;
}

q {
  font-style: italic;
}

.link {
  color:rgba(128,204,42,255);
 }

   #slide_background {
    background-image: url(../img/geodesie_accueil.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 50%;
    height: 40%;
    top: 59%;
    left: 35%;
    opacity: 0.4;
   }


   @media screen and (max-width: 800px) {


  }

