
/* partie css Jade Champs et Potentiel de pesanteur 
*/
#donnees{
  width: 15%;
  height: 30%;
  border: 5px solid rgb(83, 83, 83);
  border-radius: 20px;
  position: absolute;
  top: 11%;
}

#mapPoint{
  width: 50%;
  height: 60%;
  border: 5px solid rgb(83, 83, 83);
  border-radius: 20px;
  position: absolute;
  top: 11%;
  left: 20%;
  display: flex;
  align-items: center;
  box-shadow: #5E5DF0 0 10px 20px -10px;
}

#mapListePoint, #mapEmprise{
  width: 50%;
  height: 60%;
  border: 5px solid rgb(83, 83, 83);
  border-radius: 20px;
  position: absolute;
  top: 11%;
  left: 20%;
  display: flex;
  align-items: center;
  box-shadow: #5E5DF0 0 10px 20px -10px;
}

#mapEmpriseGMT{
  background-color: #ffffff;
  width: 50%;
  height: 60%;
  border: 5px solid rgb(83, 83, 83);
  border-radius: 20px;
  position: absolute;
  top: 11%;
  left: 20%;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  z-index: 3001;
  object-fit:scale-down;
}

#imgGMT{
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

#mapListePointPlotly, #mapEmprisePlotly{

  border: 5px solid rgb(83, 83, 83);

  position: absolute;
  top: 11%;
  left:20%;
  display: flex;
  align-items: center;
  visibility: hidden;
  background-color: #000000;
  z-index: 3000;
  box-shadow: #5E5DF0 0 10px 20px -10px;
}

#plotlyListPoint{
  display: flex;
  flex-direction: row;

}

#mouseCoord, #mouseCoord2,  #mouseCoord3{
  width: 60%;
  height: 5%;
  z-index: 2000;
  position: absolute;
  top: 0;
  left: 0%;
  transform: translate(40%, 0%);
  background-color: #E6E4E4;
  text-align:center ;
}
/* #geoide{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 95%;
  height: 95%;
} */

#paramPoint{
  width: 50%;
  height: 13%;
  border: 5px solid #535353;
  border-radius:20px;
  position: absolute;
  top: 75%;
  left: 20%;
  box-shadow: #5E5DF0 0 10px 20px -10px;
}

#formPoint{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


input[type='file'] {
  color: transparent;
  width: 60%;
}
#textEntreParamListePoint{
  width: 100%;
  height: 10%;
  text-align: center;
  font-size: 15px;

}

.ConteneurTextParam{
  width: 17%;
  display: flex;
  flex-direction: column;
}

.ConteneurtextParamLonLAt{
  width: 80%;
  display: flex;
  flex-direction: column;
}

.ConteneurTextParamListe{
  width: 27%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ConteneurTextParamEmrise{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.ConteneurChoixFichier, .champsGeopot{
  width: 100%;

}

.ConteneurLatLng{
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
}

.ConteneurMutliPointInput{
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}


.textParam{
  font-size: 13px;
  text-align: center;
}

.degResolu{
  width:80%;
}

#fichier{
  width: 20%;
  height: 55%;
  border-color: #4FC3A1;
  border-style: ridge;
  position: absolute;
  top: 11%;
  left: 75%;
  text-align: center;
}


#fichier input, #fichier input {
  margin: 10px;
  width: 70%;
  object-fit: contain;
}


#fichier label {
  margin: 10px;
}

#saisi{
text-align: center;
}

#browse{
  position: relative;
  width: 70%;
  object-fit: contain;

  margin-left: auto;
  margin-right: auto;
  display: block;
}

#paramListePoint, #paramEmrpise{

  width: 50%;
  height: 19%;
  border: 5px solid #535353;
  border-radius:20px;
  position: absolute;
  top: 75%;
  left: 20%;
  box-shadow: #5E5DF0 0 10px 20px -10px;

}

#descriptionCatalog {
  width: 70%;
  height: 11%;
  border: 5px solid #535353;
  border-radius: 5px;
  position: absolute;
  top: 83%;
  left: 25%;
  box-shadow: #5e5df0 0 10px 20px -10px;
  text-align: center;
}

.formData{
  width: 65%;
  height:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#formListPoint{
  width: 100%;
  height: 100%;
  display: flex;
  align-items:center;
  justify-content: space-evenly;
  flex-direction:row;
  margin-top: 0%;
}

.form{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction:row;
  margin-top: 0%;

}

.CalculTelecharger {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}




#btndossier {
  width: 15%;
  height: 100%;
  border-color: rgb(79, 195, 161);
  border-style: ridge;
  text-align: center;
  object-fit: contain;
}

#imgdossier {
  width: 100%;
  height: 100%;
}

#mutliPointInput {
  width: 100%;
  height: 100%;
  border-color: #4FC3A1;
  border-style: ridge;
  text-align: center;
  overflow-y:scroll;
}

/* img.leaflet-marker-icon {
  filter: hue-rotate(244deg);
} */

/* #bouton {
  position: relative;
  margin-left: auto;
  margin-right: auto;

} */

.dataTable{
  width: 27%;
  height: 83%;
  border: 5px solid rgb(83, 83, 83);
  border-radius:20px;
  position: absolute;
  top: 11%;
  left: 72%;
  text-align: center;
  overflow: hidden;
  box-shadow: #5E5DF0 0 10px 20px -10px;
}

#dataTableEmprise{
  width: 27%;
  height: 60%;
  border: 5px solid rgb(83, 83, 83);
  border-radius:20px;
  position: absolute;
  top: 11%;
  left: 72%;
  text-align: center;
  overflow: hidden;
}

.inner{
  width: 100%;
  height: 92%;
  position: absolute;
  top: 15%;
  left: 2%;
  text-align: center;
  overflow-y: scroll;
}


/* viewOption{
  display:flex ;
  flex-direction: column;
} */

.dataTable .activeListPoint, .dataTable .activeEmrpise, .dataTable .activePoint{
  color: #000000;
  background-color: #55fff6b0;
  border-style:solid;
  border-color: red;
}

#optionEmprise, #optionListePoint{
  visibility: hidden;
}

/* .dataTable .activeEmrpise{
  color: #000000;
  background-color: #55fff68a;
} */



/* .dataTable .activePoint{
  color: #000000;
  background-color: #55fff68a;;
} */

#plotlyListPoint{

  position: absolute;
  top: 0%;
  left: 80%;
  transform: translate(-50%, 0%);

}

#latsEmprise{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90%;
  width: 25%;
}

#latsEmprise2{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90%;
  width: 25%;

  border-color: #2d30c05e;
  border-style: ridge;
}

#emrpiseInputs{
  width: 30%;
  height: 90%;
  display: flex;
  flex-direction:row;
  justify-content:space-around;
  align-items: center;

  border-color: #4FC3A1;
  border-style: ridge;
  
}
#lng1, #lng2{
  width : 80%;
  height: 28%;
}

#lat1, #lat2{
  width : 100%;

}



h2{
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgb(0, 0, 0);
}

/* Table Styles */

.table-wrapper{
  margin: 5px 5px 5px;
  box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.fl-table td, .fl-table th {
  text-align: center;
  padding: 5px;
}

.fl-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 12px;
}

.fl-table thead th {
  color: #ffffff;
  background: #4FC3A1;
}


.fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: rgb(25, 41, 124);
}

.fl-table tr:nth-child(even) {
  background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
  .fl-table {
      display: block;
      width: 100%;
  }
  .table-wrapper:before{
      content: "Scroll horizontally >";
      display: block;
      text-align: right;
      font-size: 11px;
      color: white;
      padding: 0 0 5px;
  }
  .fl-table thead, .fl-table tbody, .fl-table thead th {
      display: block;
  }
  .fl-table thead th:last-child{
      border-bottom: none;
  }
  .fl-table thead {
      float: left;
  }
  .fl-table tbody {
      width: auto;
      position: relative;
      overflow-x: auto;
  }
  .fl-table td, .fl-table th {
      padding: 5px  5px  5px  5px;
      height: 60px;
      vertical-align: middle;
      box-sizing: border-box;
      overflow-x: hidden;
      overflow-y: auto;
      width: 120px;
      font-size: 13px;
      text-overflow: ellipsis;
  }
  .fl-table thead th {
      text-align: left;
      border-bottom: 1px solid #f7f7f9;
  }
  .fl-table tbody tr {
      display: table-cell;
  }
  .fl-table tbody tr:nth-child(odd) {
      background: none;
  }
  .fl-table tr:nth-child(even) {
      background: transparent;
  }
  .fl-table tr td:nth-child(odd) {
      background: #F8F8F8;
      border-right: 1px solid #E6E4E4;
  }
  .fl-table tr td:nth-child(even) {
      border-right: 1px solid #E6E4E4;
  }
  .fl-table tbody td {
      display: block;
      text-align: center;
  }
}


* {
  box-sizing: border-box
}


.mySlides {
display: none;
border: 5px solid rgb(83, 83, 83);
position: absolute;
top: 11%;
left: 20%;
object-fit: cover;
width: 70%;
height: 70%;
margin-left: 5%;
text-align: center;
}

.imgtest{
             width: 60%;
height: 100%;

}
.slideshow-container {
    margin:auto;
;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* Caption text */
.text {
  color: #ffffff;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #ffffff;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #999999;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #111111;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}
@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px
  }
}