#titre { 

    color:black;
  }

#intro {
    position: absolute;
    top: 20%;
    left: 1%;
    width: 40%;
}

#envoi {
  position: absolute;
  top: 30%;
  left: 1%;
}

/* .form {
  margin: 10px;
}


#message_box {
  height: 200px;
  width : 500px;
}

#form_message{
  position: absolute;
    top: 30%;
    left: 40%;
} */

#message_box{
  height: 219px;
  width: 316px;
  justify-content: center;
}

#form_contact{
  height: 372px;
  width: 673px;
}

#form_nom{
  position: relative;
  left: 5%;
}

#form_prenom{
  position: relative;
  left: 50%;
  top: -5.5%;
}

#form_email{
  position: relative;
  left: 5%;
  top: -2%;
}

#form_sujet{
  top: -8%;
  position: relative;
  left: 50%;
}

#form_message{
  position: relative;
  left: 19%;
}

#bouton_envoi{
  position: relative;
  left: 36%;
  top: 3%;
}

#map {
  position: absolute;
  top: 12%;
  left: 54%;
  height: 513px;
  width: 579px;
  border-radius: 20px;
  border: solid 2px black;
}
