#equipe_intro {
  position: absolute;
  top: 12%;
  left: 60%;
  border-radius: 8px;
  width: 37%;
  height: 85%;
  text-align: justify;
  overflow: auto;
}

/* #comment {
position: absolute;
  top: 30%;
  left:38%;
  border-radius: 8px;
  width: 30%;
  height: 50%;
} */

#titre { 
  position: absolute;
  top: 9%;
  left:0.5%;
  height: 10%;
  object-fit:contain;
  z-index: -1;
  word-wrap: break-word;
  font-family: georgia, serif;
  border-bottom: 1px solid #000;
  width: 700px;
}

.img1{
  position: absolute;
  top: 15%;
  left: -8%;
  width: 25%;
  height: 20%;
  object-fit:contain;
  z-index: -1;
  margin: 0px;
}

.l1 {
  position: absolute;
  top: 35%;
  left: 1%;
  font-size: x-small;
}

.q1 {
  position: absolute;
  top: 18%;
  left: 9.5%;
  font-style: italic;
  width: 155px;
}

.img2{
  position: absolute;
  top: 30%;
  left: 33%;
  width: 25%;
  height: 20%;
  object-fit:contain;
  z-index: -1;
  margin: 0px;
}

.l2 {
  position: absolute;
  top:50%;
  left: 41.5%;
  font-size: x-small;
}

.q2{
  position: absolute;
  top: 50%;
  left: 11.5%;
  font-style: italic;
  width: 155px;
}

.img3{
  position: absolute;
  top: 45%;
  left: -8%;
  width: 25%;
  height: 20%;
  object-fit:contain;
  z-index: -1;
  margin: 0px;
}

.l3 {
  position: absolute;
  top: 65%;
  left: 1.5%;
  font-size: x-small;
}

.q3{
  position: absolute;
  top: 78%;
  left: 9.5%;
  font-style: italic;
  width: 155px;
}

.img4{
  position: absolute;
  top: 75%;
  left: -8%;
  width: 25%;
  height: 20%;
  object-fit:contain;
  z-index: -1;
  margin: 0px;
}

.l4 {
  position: absolute;
  top: 95%;
  left: 0.5%;
  font-size: x-small;
}

.q4{
  position: absolute;
  top: 33%;
  left: 50.5%;
  font-style: italic;
  width: 155px;
}

.img5{
  position: absolute;
  top: 65%;
  left: 33%;
  width: 25%;
  height: 20%;
  object-fit:contain;
  z-index: -1;
  margin: 2px;
}

.l5 {
  position: absolute;
  top: 85%;
  left: 42%;
  font-size: x-small;
}

.q5{
  position: absolute;
  top: 68%;
  left: 52.5%;
  font-style: italic;
  width: 155px;
}

.q1, .q2, .q3, .q4, .q5{
  width:25%;
  font-size: 13px;
}

#description{
width: 70%;
height: 85%;
position: absolute;
top:5%;
left: 50%;
transform: translate(-70%,0%);
}

/* #comment q {
font-style:italic;
} */

#link {
  color: grey;
  overflow: hidden;
  background: linear-gradient(to right, grey, black 50%, grey 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  text-decoration: none;
 }
  #link:hover {
    background-position: 0 100%;
  }

