
  /** sibar et vignette **/
  .sidenav {
    height: 76%;
    width: 17%;
    position: absolute;
    top: 0%;
    left: 0%;
    border: 5px solid rgb(83, 83, 83);
    box-shadow: #5E5DF0 0 10px 20px -10px;
    border-radius:20px;
    transition: 0.5s;
    margin-top: 120px;
    margin-left: 5px;
  }
  
  .sidenav a {
    padding: auto;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    color: #b4b4b4;
    display: block;
    transition: 0.3s;
  
    border-bottom: solid;
    border-color: #000000af;
    border-width: 5px;
  
  }

  .calculSur{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    display: block;
    width: 100%;
    height: 8%;
    color: #000000;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    word-break: break-word;
    border: 0;
    text-align: center;
    box-shadow: #5E5DF0 0 10px 20px -10px;

  }
  
  .sidenav button, #btnGeoid3d, #btnGeoid2d , #selectEllipsoid, #paramEllipsoide, #selectEllipsoidComp{
      margin-left: auto;
      margin-right: auto;
      margin-top: 5%;
      display: block;
      width: 80%;
      background: rgb(25, 41, 124);
      border-radius: 999px;
      box-shadow: #5E5DF0 0 10px 20px -10px;
      box-sizing: border-box;
      color: #ffffff;
      cursor: pointer;
      font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      opacity: 1;
      outline: 0 solid transparent;
      padding: 8px 18px;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      word-break: break-word;
      border: 0;
  }

  #FAQ__Btn{
    position:absolute;
    bottom:5%;
    left: 10%;
  }

  /* Popup box BEGIN */
#FAQ{
  background:rgba(0,0,0,.4);
  cursor:pointer;
  display:none;
  height:100%;
  position:fixed;
  text-align:center;
  top:0;
  width:100%;
  z-index:40000;
  
}
#FAQ .helper{
  display:inline-block;
  height:100%;
  vertical-align:middle;
}
#FAQ > div {
  background-color: #fff;
  box-shadow: 10px 10px 60px #555;
  display: inline-block;
  height: auto;
  vertical-align: middle;
  width: 60%;
  height: 70%;
  position: relative;
  border-radius: 8px;
  padding: 15px 5%;
  max-height: 70%;
}

#faqContent{
  position: absolute;
  top: 20%;
  overflow-y:scroll;
  width: auto;
  height: 90%;
  max-height: 70%;
  object-fit: contain;
  text-align: center;
}

.popupCloseButton {
  background-color: #fff;
  border: 3px solid #999;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-family: arial;
  font-weight: bold;
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 25px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  z-index: 50000;
}
.popupCloseButton:hover {
  background-color: #ccc;
}
/* Popup box BEGIN */
  
  .sidenav button:hover, .sidenav a:hover{
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 36px;
    margin-left: 50px;
  
    border-style: none;
  }
  
  /* Style the active class, and buttons on mouse-over */
  .sidenav .active2{
    color: black;
    background-color: #1d474549;
  }
  
  button .obs{
    color: #55fff681;
    background-color: #55fff681;
  }
  
  .openbtn {
    grid-column: 1;;
    font-size: 24px;
    height: 35px;
    margin-left: 5px;
    padding-left: 5px;
    cursor:pointer;
    border-style: solid;
    border-color: #d4dbd4;;
    border-width: 5px;
    margin-top: 2px;
  }
  
  
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
  .image_container {
    position: absolute;
    top: 74%;
    left: 71.5%;
    width: 27%;
    height: 19%;
    border: 5px solid rgb(83, 83, 83);
    border-radius: 20px;
    margin: 5px;
}
  .listImage{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction:row;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 100%;
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: -4%;
  }
  /* @keyframes obs_animation {
    0% {transform: translateX(0);}
    100% {transform: translateX(-5500px);}
  } */
  
  
  .image_container .item{
    width: 100%;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    flex: 3 0 25%;
    outline: 1px solid red;
    height: 80%;
    margin: 5px;
    padding: 0;
    object-fit:contain;
  
    /* animation: obs_animation 50s infinite linear; */
  
  }
  
  .image_container .el{
    position: relative;
    top:0;
    object-fit:contain;
  
  }
  
  .image_container .vignette{
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 50%;
    width: 80%;
    margin-bottom: 2px;
  }


/* css FAQ Surfaces de références Jade */ 

#geoide{
  position: absolute;
  display:block;
  right: 70%;
  top: 20%;
  color:black;
  width: 250px;
  height: 300px; 
  font-size: 18px;
}

#ellipsoide{
  position: absolute; 
  display: block;
  top: 20%;
  left: 70%; 
  color: black;
  width: 250px;
  height: 300px;
  font-size:18px; 
}


.faq_geoide_img{ 
  width: 45%;
  height: 60%;
  position: relative;
  top: -5%; 

}


.faq_ellipsoide_img {
  width: 45%;
  height: 60%;
  position: relative;
  top: 5%;
}

#faq_ellipsoide, #faq_geoide{
  font-size: 12px;
}

.fleche_faq {
  position: relative;
  width: 30%;
  height: 40%;
}

#transition {
position: relative;
display: block;
}

h2{
  text-decoration: underline;
}

#transition_fleche {
  position: absolute;
  top: 30%;
  left: 35%;
  width: 280px;
  height: 135px;
  border: 2px solid black;
  border-radius: 15%;
}


.fig{
  width:40%;
  height: 70%;
}