/************* partie css c qz ***************/
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
  
  }
  
  /*HEADER*/
  .topnav {
    overflow: hidden;
    background-color: rgb(39, 39, 39);
    border-style: solid;
    border-color: rgb(39, 39, 39);
    border-width: 10px;
    display: flex;
    justify-content: center;
    justify-items: center;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: rgb(201, 199, 199);
    text-align: center;
    padding: 5px 5px 5px 5px;
    text-decoration: none;
    font-size: 17px;
    margin: 5px 5px 5px 5px;
  }
  
  .topnav a:hover {
    background-color: rgba(16, 20, 22, 0.822);
    color: black;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 8px;
    background-color:rgb(250, 250, 250);
    
  }
  
  .topnav a.active {
    background-color:rgb(250, 250, 250);
    color: rgb(0, 0, 0);
    border: 3px solid rgb(250, 250, 250);
    border-radius: 5px;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 800px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 800px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav {
      display: block;
    }
  }
  /*FOOTER*/
  #footer{
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    background-color: rgb(39,39,39);
  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
  }
  
  #copyright {
    margin-bottom: 10px;
    font-size: 10px;
    color: rgb(201, 199, 199);
  }
  
  .fa:not(.fa-bars, .fa-home) {
    padding: 5px;
    padding-top: 10px;
    font-size: 15px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 0px 15px;
    border-radius: 5%;
    justify-content: center;
  }
  
  ​
  
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-facebook {
    background: rgb(39,39,39);
    color:rgb(201, 199, 199);
  }
  
  .fa-twitter {
    background: rgb(39,39,39);
    color: rgb(201, 199, 199);
  }
  
  .fa-linkedin {
    background: rgb(39,39,39);
    color: rgb(201, 199, 199);
  }
  
  .fa-globe {
    background: rgb(39,39,39);
    color: rgb(201, 199, 199);
  }
  
  .fa-instagram {
    background: rgb(39,39,39);
    color: rgb(201, 199, 199);
  }
  
  .wrapper {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 400px 1fr;
    margin: 0;
    grid-column-gap: 10px;
    grid-row-gap: 25px;
}