
#param_ellips, #param_ellips_comparaison,  #param_goid {
  width: 27%;
  height: 83%;
  border: 5px solid rgb(83, 83, 83);
  border-radius:20px;
  position: absolute;
  top: 11%;
  left: 72%;
  text-align: center;
  overflow: hidden;
}

#presention_ellipoid, #presention_ellipoid_comparaison,#presention_goid{
  position: absolute;
  top: 10%;
  left: 2%;
  width: 92%;
  height: 55%;
  background-color: white;
  overflow-y: auto;
  margin: 2%;
  padding: 2%;
  overflow-y: scroll;
}

#presention_ellipoid p{
  font-size: 15px;
}

#formSurfRef, #formSurfRefComparaison, #formGeoid{
  position: absolute;
  top: 70%;
  left: 0%;
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* #selectEllipsoid, #selectEllipsoidAComparer, #selectModele{
  height: 40%;
  width: 50%;
} */

#a, #b{
  height: 75%;
  width: 75%;
}

  #ellips, #ellipsComparer, #Goid{
    width: 50%;
    height: 83%;
    border: 5px solid rgb(83, 83, 83);
    border-radius: 10px;
    position: absolute;
    top: 11%;
    left: 20%;
    display: flex;
    align-items: center;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    justify-content: center;
    background-color: white;
    object-fit:scale-down;
  }
  #geoid3D{
    width: 100%;
    height: 100%;

  }

#btnGeoid3d, #btnGeoid2d{
height: 60%;
margin: 2%;

  }

#imgellipsComparer{
  width: 100%;
  height: 100%;
}

  
  .param {
    margin:5px;
    font-size: 20px;
  }
  
  .param_ok {
    width: 50px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  .style_param {
    height:30px;
  }

  
  .search_ellips select {
    height:20px;
    margin-left : 5px;
  }
  
  .loupe{
    height: 20px;
    width: 20px;
  }
  
  .ellips_modele{
    border-style: solid;
    border-color: grey;
  
    border-radius: 15px;
    position: absolute;
    top: 11%;
    left: 18%;
    width: 45%;
    height: 55%;
    margin: 5px;
  
    object-fit: contain;
  }
  
  .infos_modele {
    grid-row: 2;
  }
  
  .img_test {
    height: 300px;
    width: 300px;
    grid-row: 1;
  }
  
  @media screen and (max-width: 800px) {
    

    
  }