<!DOCTYPE html>
{% load static %}
<html lang = "fr">
    <head>

      <meta charset="utf-8">
      <meta name="iVoG" content="header et footer de iVoG">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">

      <link rel="icon" href="{% static 'ivog_app/img/ivog3V2.png' %}">
      <title>iVoG</title>

      <link rel="stylesheet" href="{% static 'ivog_app/css/styleHeaderFooter.css' %}">
      <link rel="stylesheet" href="{% static 'ivog_app/css/sideNavVignette.css' %}">
      <link rel="stylesheet" href="{% static 'ivog_app/css/accueil.css' %}">
      <link rel="stylesheet" href="{% static 'ivog_app/css/champsPotentiel.css' %}">
      <link rel="stylesheet" href="{% static 'ivog_app/css/surfRef.css' %}">
      <link rel="stylesheet" href="{% static 'ivog_app/css/equipe.css' %}">
      <link rel="stylesheet" href="{% static 'ivog_app/css/contact.css' %}">

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      <script src="https://cdn.plot.ly/plotly-2.9.0.min.js"></script>

      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""/>
      <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""></script>
        
      <link rel="stylesheet" href="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.css" />  
      <script src="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.min.js"></script>  

    </head>
  <body>

    <div class="topnav" id="myTopnav">
      <!-- <a class = "active" href="{% url 'index' %}"><i class="fa fa-home" aria-hidden="true"></i> Accueil</a>-->
      {% for element in topNavData %} 
        {% if currenturl == "index" %}
          {% if element.name == "Accueil" %}
          <a href="{% url element.url %}" class = "{{ element.class }}" ><i class="fa fa-home" aria-hidden="true"></i> {{ element.name }}</a>
          {% else %}
          <a href="{{ element.url }}" class = "{{ element.class }}" >{{ element.name }}</a>
          {% endif %}
        {% else %}
          {% if element.name == "Accueil" %}
          <a href="{% url element.url %}" class = "link" ><i class="fa fa-home" aria-hidden="true"></i> {{ element.name }}</a>
          {% else %}
          <a href="{{ element.url }}" class = "{{ element.class }}" >{{ element.name }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
      <a href="javascript:void(0);" class="icon" onclick="topNavBarManger()"><i class="fa fa-bars"></i></a>
    </div>

    <!--les contenues prinipales -->
    {% block accueil %}
    {% endblock %}

    {% block list_obervable_et_vignette %}
    {% endblock %}

    {% block maincontent1 %}
    {% endblock %}

    {% block maincontent2 %}
    {% endblock %}

    {% block zone_etude %}
    {% endblock %}

    {% block contact %}
    {% endblock %}

    {% block forum %}
    {% endblock %}


    
    <!--footer -->
    <div id = footer>
      <div id="copyright"> Copyright &copy; 2022 ENSG</div>
    </div>

    <script src = "{% static 'ivog_app/js/design_manager.js' %}""> </script>


  </body>
</html>
