{% extends 'ivog_app/base/sideNav.html' %}

{% load static %}

{% block main %}

<div id="main">

    <div id = "optionPoint">

      <div id="mapPoint">
        <div id = "mouseCoord">Coordonnées de la souris</div>
      </div>

      <div id="paramListePoint">
        <form id ="formListPoint" action="" method="post">
          {% csrf_token %}

          <div class = "ConteneurLatLng">

          <div class = "ConteneurTextParam ConteneurtextParamLonLAt">
            <div class = "textParam">Longitude en degré</div>
            <input id = "Longitude" name="Longitude" placeholder = "Longitude" required>
          </div>
          <div class = "ConteneurTextParam ConteneurtextParamLonLAt">
            <div class = "textParam">Latitude en degré</div>
            <input id = "Latitude" name="Latitude" placeholder = "Latitude" required>
          </div>

          </div>
                                <div class = "formData">
                <div class = "form">

                    <div class = "ConteneurTextParamListe">
                        <div class = "textParam">Précision</div>
                        <input class = "champsGeopot" type="number" name="résolution" min="0" value="360" max="2190" required>
                    </div>

                     <div class = "ConteneurTextParamListe">
                        <div class = "textParam">Choix du modèle</div>
                        <select class = "champsGeopot" name="modeles" id="field-select">
                            <option value="eigen6c4" >eigen6c4</option>
                        </select>
                    </div>
                </div>

                <div class = "CalculTelecharger">
                    <div class = "ConteneurTextParamListe">
                            <div class = "textParam" id = "CalculPoint">Calcul</div>
                            <input id = "inputCalculPoint" class = "champsGeopot" type="submit" value="Calculer">
                        </div>

                                <div class = "ConteneurTextParamListe">
                    <div class = "textParam">Télécharger la sortie</div>
                    <a class = "champsGeopot" href="{% url 'download' filename=telechargerObsPoint %}" download="singlePoint outpoutData">
                    <button class = "champsGeopot" type="button">Telecharger</button> 
                    </a>
                </div>


            </div>



            </div>
          

        </form>
      </div>

      <div class = "dataTable">

          {% if currenturl == "alti" %}
          <h2>Altitudes</h2>   
          {% else %}
          <h2>Observables</h2>  
          {% endif %}

            
            <div class = "inner">
                <div class="table-wrapper">
                    <table class="fl-table">
                        <thead>
                          <tr>
                          {% if currenturl == "alti" %}
                          <th>Type d'alttudes</th>  
                          {% else %}
                          <th>Nom</th>
                          {% endif %}
                          <th>Unité</th>
                          <th>Symbole</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for observable in obsNameFromPointData %}
                        <tr style = "background-color:{{ observable.bg }}">
                            <td class = "list_obs_point" >{{ observable.title }}</td>
                            <td class = "list_obs_point" >{{ observable.unit }}</td>
                            <td class = "list_obs_point" >{{ observable.symbole }}</td>
                        </tr>
                        {% endfor %}
                        <tbody>
                    </table>
                </div>
            </div>
      </div>
    </div>

    {% block listePoint %}
    {% endblock %}

</div>


    
{% endblock %}

