{% extends 'ivog_app/base/calulEnPointMultiple.html' %}

{% load static %}

{% block emprise %}
<div id = "optionEmprise">

    <div id="mapEmprise">
    <div id = "mouseCoord3">Coordonnées de la souris</div>
    </div>

    <div id="mapEmprisePlotly"></div>
        <div id="mapEmpriseGMT"> <img id="imgGMT" src="{% static imgGMTDemanrage %}"> </div>

    <div id ="paramEmrpise">
        <form id ="formListPoint" action="" method="post">
            {% csrf_token %}
            <div id = "emrpiseInputs">

            <div class = "ConteneurTextParamListe ConteneurTextParamEmrise">
                        <div class = "textParam">Longitude inférieur</div>
                <input type="text" id="lng1" name="lng1" placeholder="lng1" required>
            </div>
            
                <div id = "latsEmprise">

                <div class = "ConteneurTextParamEmprise">
                        <div class = "textParam">Latitude supérieur</div>
                <input type="text" id="lat2" name="lat2" placeholder="lat2" required>
            </div>

                <div class = "ConteneurTextParamEmprise">
                        <div class = "textParam">Latitude inférieur</div>
                <input type="text" id="lat1" name="lat1" placeholder="lat1" required>
                
            </div>


         
                    
                </div>
                <div class = "ConteneurTextParamListe ConteneurTextParamEmrise">
                        <div class = "textParam">Longitude supérieur</div>
                <input type="text" id="lng2" name="lng2" placeholder="lng2" required>
            </div>
                    
            </div>

                                            <div class = "formData">
                <div class = "form">

                    <div class = "ConteneurTextParamListe">
                        <div class = "textParam">Degré de résolution</div>
                        <input class = "champsGeopot" type="number" name="résolution" min="0" value="360" max="2190" required>
                    </div>

                     <div class = "ConteneurTextParamListe">
                        <div class = "textParam">Choix du modèle</div>
                        <select class = "champsGeopot" name="modeles" id="field-select">
                            <option value="eigen6c4">eigen 6c4</option>
                        </select>
                    </div>
                </div>

                <div class = "CalculTelecharger">
                    <div class = "ConteneurTextParamListe">
                            <div class = "textParam" id = "CalculEmprise">Calcul</div>
                            <input id = "inputCalculEmprise" class = "champsGeopot" type="submit" value="Calculer">
                        </div>

                                <div class = "ConteneurTextParamListe">
                    <div class = "textParam">Télécharger la sortie</div>
                    <a class = "champsGeopot" href="{% url 'download' filename=telechargerObsEmrpise %}" download="singlePoint outpoutData">
                    <button class = "champsGeopot" class="btnTelechatger" type="button">Telecharger</button> 
                    </a>
                </div>

            </div>
            </div>
        </form>
    </div>


    <div id = "dataTableEmprise" class = "dataTable">


            {% if currenturl == "alti" %}
            <h2>Altitudes</h2>   
            {% else %}
            <h2>Observables</h2>  
            {% endif %}
            <label for="scales">Sur carte <input type="checkbox" id="plotlyListPointCB2" name="plotlyListPointCB2"></label>
            <label for="scales">En image <input type="checkbox" id="plotlyListPointCB3" name="plotlyListPointCB2"></label>
            {% comment %} <label for="scales">Affichage carto <input type="checkbox" id="plotlyListPointCB4" name="plotlyListPointCB2"></label> {% endcomment %}


        <div class = "inner">
            <div class="table-wrapper">
                <table class="fl-table">
                  <thead>
                        <tr>
                            {% if currenturl == "alti" %}
                            <th>Type d'alttudes</th>  
                            {% else %}
                            <th>Nom</th>
                            {% endif %}
                            <th>Unité</th>
                            <th>Symbole</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for observable in obsNameFromPointData %}
                        <tr style = "background-color:{{ observable.bg }}">
                            <td class = "list_obs_emprise" >{{ observable.title }}</td>
                            <td>{{ observable.unit }}</td>
                            <td>{{ observable.symbole }}</td>
                        </tr>
                        {% endfor %}
                    <tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="image_container">
    <div class="listImage">
        {% for observable in obsGMT %}
            <div class="item">
            <div class = "el">{{ observable.numObs }}</div>
            <img class="vignette"src="{% static observable.imgObs %}" alt="{{ observable.nameObs }}">
            </div>
        {% endfor %}
    </div>
    </div>
    
</div>

{% block cata %}
{% endblock %}


{% block data %}
{% endblock %}

{% endblock %}
