{% extends 'ivog_app/base/caclulEnUnPoint.html' %}

{% load static %}

{% block listePoint %}

<div id = "optionListePoint">

    <div id="mapListePoint">
      <div id = "mouseCoord2">Coordonnées de la souris</div>
    </div>

    <div id="mapListePointPlotly"></div>
    
    <div id="paramListePoint">
        {% comment %} <div id="textEntreParamListePoint">Cliquer des points sur la carte ou choisir un fichier d'entrée sans header au format longitude, latitude</div> {% endcomment %}
        <form id ="formListPoint" action="" method="post">
            {% csrf_token %}

             <div class = "ConteneurLatLng">

            <div class = "ConteneurTextParamListe ConteneurChoixFichier">
                        <div class = "textParam">Choix de fichier</div>
                        <input type="file" id="filetoRead" />
                    </div>

                    <div class = "ConteneurTextParam ConteneurMutliPointInput">
                        <div class = "textParam">Longitudes Latitudes</div>
                        <textarea id = "mutliPointInput" name="mutliPointInput" placeholder = "lon1 lat1&#10;lon2 lat2&#10;..." required></textarea> 
                    </div>

            </div>

                                <div class = "formData">
                <div class = "form">
                    <div class = "ConteneurTextParamListe">
                        <div class = "textParam">Précision</div>
                        <input class = "champsGeopot" type="number" name="résolution" min="0" value="360" max="2190">
                    </div>

                     <div class = "ConteneurTextParamListe">
                        <div class = "textParam">Choix du modèle</div>
                        <select class = "champsGeopot" name="modeles" id="field-select">
                            <option value="eigen6c4">eigen6c4</option>
                        </select>
                    </div>
                </div>

                <div class = "CalculTelecharger">
                    <div class = "ConteneurTextParamListe">
                            <div class = "textParam" id = "CalculLP" >Calcul</div>
                            <input id = "inputCalculLP" class = "champsGeopot" type="submit" value="Calculer">
                        </div>

                                <div class = "ConteneurTextParamListe">
                    <div class = "textParam">Télécharger la sortie</div>
                    <a class = "champsGeopot" href="{% url 'download' filename=telechargerObsLP %}" download="singlePoint outpoutData">
                    <button class = "champsGeopot" type="button">Telecharger</button> 
                    </a>
                </div>


            </div>



            </div>
            
        </form>
    </div>

    <div class = "dataTable">
            {% if currenturl == "alti" %}
            <h2>Altitudes</h2>   
            {% else %}
            <h2>Observables</h2>  
            {% endif %}

            <label for="scales">Sur carte<input type="checkbox" id="plotlyListPointCB" name="plotlyListPointCB2"></label>
        <div class = "inner">
            <div class="table-wrapper">
                <table class="fl-table">
                    <thead>
                        <tr>
                            {% if currenturl == "alti" %}
                            <th>Type d'alttudes</th>  
                            {% else %}
                            <th>Nom</th>
                            {% endif %}
                            <th>Unité</th>
                            <th>Symbole</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for observable in obsNameFromPointData %}
                        <tr style = "background-color:{{ observable.bg }}">
                            <td class = "list_obs_multi_point" >{{ observable.title }}</td>
                            <td>{{ observable.unit }}</td>
                            <td>{{ observable.symbole }}</td>
                        </tr>
                        {% endfor %}
                    <tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% block emprise %}
{% endblock %}

<script>
document.getElementById("filetoRead").addEventListener("change",function(){
        var file = this.files[0];

        if (file) {
            var reader = new FileReader();
            
            reader.onload = function (evt) {
                console.log(evt);
                document.getElementById("mutliPointInput").innnerText = "";
                document.getElementById("mutliPointInput").value = evt.target.result;
            };

            reader.onerror = function (evt) {
                console.error("An error ocurred reading the file",evt);
            };

            reader.readAsText(file, "UTF-8");
        }
    },false);
</script

{% endblock %}