{% extends 'ivog_app/base/calculSurUneGrilleEmprise.html' %}

{% load static %}

{% block cata %}
<div id = "optionCatalog">

    <div class="slideshow-container">
          <div class="mySlides fade"><div class = "ressource">Resource:Guillaume Lion</div>
        <img  class="imgtest" src="{% static 'ivog_app/img/catalogAlti/GGF97_interp_0p1.jpg' %}" >
      </div>

            <div class="mySlides fade"><div class = "ressource">Resource:Guillaume Lion</div>
        <img  class="imgtest" src="{% static 'ivog_app/img/catalogAlti/QGF96_interp_0p1.jpg' %}" >
      </div>

            <div class="mySlides fade"><div class = "ressource">Resource:Guillaume Lion</div>
        <img  class="imgtest" src="{% static 'ivog_app/img/catalogAlti/QGF98_interp_0p1.jpg' %}" >
      </div>

            <div class="mySlides fade"><div class = "ressource">Resource:Guillaume Lion</div>
        <img  class="imgtest" src="{% static 'ivog_app/img/catalogAlti/QGF16_interp_0p1.jpg' %}" >
      </div>

            <div class="mySlides fade"><div class = "ressource">Resource:Guillaume Lion</div>
        <img  class="imgtest" src="{% static 'ivog_app/img/catalogAlti/Diff_QGF96_GGF97.jpg' %}" >
      </div>

      <div class="mySlides fade"><div class = "ressource">Resource:Guillaume Lion</div>
        <img  class="imgtest" src="{% static 'ivog_app/img/catalogAlti/Diff_QGF98_QGF96.jpg' %}" >
      </div>
      <div class="mySlides fade"><div class = "ressource">Resource:Guillaume Lion</div>
        <img  class="imgtest" src="{% static 'ivog_app/img/catalogAlti/Diff_QGF98_GGF97.jpg' %}" >

      </div>
      <div class="mySlides fade"><div class = "ressource">Resource:Guillaume Lion</div>
        <img  class="imgtest" src="{% static 'ivog_app/img/catalogAlti/Diff_QGF98_QGF16.jpg' %}" >
      </div>

            <div class="mySlides fade"><div class = "ressource">Resource:Guillaume Lion</div>
        <img  class="imgtest" src="{% static 'ivog_app/img/catalogAlti/Diff_QGF16_GGF97.jpg' %}" >
      </div>


      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a id="next" class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>
    <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
      <span class="dot" onclick="currentSlide(4)"></span>
      <span class="dot" onclick="currentSlide(5)"></span>
      <span class="dot" onclick="currentSlide(6)"></span>
      <span class="dot" onclick="currentSlide(7)"></span>
      <span class="dot" onclick="currentSlide(8)"></span>
      <span class="dot" onclick="currentSlide(9)"></span>
      <span class="dot" onclick="currentSlide(10)"></span>
    </div>

    <div id ="descriptionCatalog">
    Vous visualisez dans ce catalogue des surfaces de référence construits à partir de données gravimétriques (Quasi-Géoïde 96, 98, 16) et un données géométriques (GG97 correspondant à IGN69) et leur comparaison mutuelle. Les données de caclul sont issus du site <a href="https://www.isgeoid.polimi.it/Geoid/reg_list.html" target="_blank" ><strong style = "color:rgba(128,204,42,255);">ISG - International Service for the Geoid.</strong></a>
    </div>


    <script>
      var slideIndex = 0;
      showSlides(slideIndex);

      function plusSlides(n) {
        showSlides(slideIndex += n);
      }
      function currentSlide(n) {
        showSlides(slideIndex = n);
      }
      function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        if(n > slides.length) {
          slideIndex = 1
        }
        if(n < 1) {
          slideIndex = slides.length
        }
        for(i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
        }
        for(i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
      }

      {% comment %} var button = document.getElementById('next');
    setInterval(function(){
      button.click();
    },3000); {% endcomment %}

    </script>

</div>

{% endblock %}
