{% extends 'ivog_app/base/ellipsoideDeReference.html' %}

{% load static %}

{% block comparaison_ellips %}

    <div id= "param_ellips_comparaison" name = "param_ellips">
        <p style="font-weight: bold">Comparaison de modèles d’ellipsoïdes</p>
            <div id = presention_ellipoid_comparaison>
                <p>
                Comparaison entre l'ellipsoïde de référence choisie et un autre ellipsoïde selectionnée. 
                </p>
                <p>Ellipsoïde de référence actuellement: {{paramEpsRef.name}} <br>
                {% comment %} a =  {{ paramEpsRef.demi_grand__axe }} m  <br>
                f = 1/{{ paramEpsRef.applatissementInv }}  {% endcomment %}
                </p>
                visualiser la comparaison avec les autres ellipsoïdes avec le menu déroulant.
                </p>
            </div>
             <div id = "formSurfRef">
                {% comment %} <img class="loupe" src="{% static 'ivog_app/img/loupe.png' %}" alt="search"> {% endcomment %}
              <select name="modeles" id="selectEllipsoidComp">
                {% for ellipsoidName in  ellipsoidNames %}
                    {% if ellipsoidName != paramEpsRef.name %}
                    <option value="{{ ellipsoidName }}" selected>{{ ellipsoidName }}</option>
                    {% endif %}
                {% endfor %}
                </select>
                </div>

    </div>

    <div id='ellipsComparer'> <img id = "imgellipsComparer" src = ""> </div>

<script src =  "{% static 'ivog_app/js/select_comp_ellips.js' %}"></script>

    {% block geoid %}
    {% endblock %}

{% endblock %}
