{% extends 'ivog_app/base/sideNavSurfRef.html' %}

{% load static %}

{% block main %}

    <div id= "param_ellips" name = "param_ellips">
        <p style="font-weight: bold">“Qu’est-ce qu’un ellipsoïde ?”</p>
            <div id = "presention_ellipoid" style="overflow-x:visible;" >
                <div style="width:100%; height:70%;object-fit:contain;", >
                <img style="width:100%; height:100%;" src="{% static 'ivog_app/img/ellipsoid.png' %}" />
                </div>
                <p>
                Une surface utilisée par les GNSS pour <strong style = "color:rgba(128,204,42,255);">se positionner verticalement ! </strong> <br>
                Plus d'informations dans l'onglet En savoir plus <br><br>
                Vous pouvez changer de modèle à l’aide du menu déroulant ci-dessous.<br>
                Appliquer le changement avec le bouton Mise en place de comparaison et visualiser cette comparaison en appuyant sur le bouton <strong>"Comparaison avec l'Ellipsoïde de référence"</strong>.
                </p>
            </div>

            <form id = "formSurfRef" action="" method="post">
                {% csrf_token %}
                {% comment %} <img class="loupe" src="{% static 'ivog_app/img/loupe.png' %}" alt="search"> {% endcomment %}
                <select name="ellipsoidRef" id="selectEllipsoid">
                {% for ellipsoidName in  ellipsoidNames %}
                    {% if ellipsoidName == paramEpsRef.name %}
                    <option value="{{ ellipsoidName }}" selected>{{ ellipsoidName }}</option>
                    {% else %}
                    <option value="{{ ellipsoidName }}">{{ ellipsoidName }}</option>
                    {% endif %}
                {% endfor %}
                </select>
                {% comment %} <div class="param">
                    <label for="a">a: </label>
                    <input class="style_param" type="text" name="a" id="a">
                </div>
                <div class="param">
                    <label for="param">b: </label>
                    <input  class="style_param" type="text" name="b" id="b">
                </div> {% endcomment %}
                <input id = "paramEllipsoide" type="submit" value="Mise en place de comparaison">
            </form>
    </div>
    <div id='ellips'></div>

    <!-- stocker les données provenant de django via context en div au json format/ la données dois être une liste-->
    {{ ellips_data|json_script:"ellips_data" }}

    <script src="{% static 'ivog_app/js/test_ellipsoid.js' %}"></script>

    {% block comparaison_ellips %}
    {% endblock %}

{% endblock %}