{% extends 'ivog_app/base/base_header_footer.html' %}

{% load static %}

{% block list_obervable_et_vignette %}

<div class="wrapper">
  <div class="calculSur">
    <span href="javascript:void(0)">Possibilité de calculs</span>
  </div>

  <div id="mySidenav" class="sidenav">
    <div>
      <button href="#" id="point" class = "active2" name="Point" value="Point">Sur un point</button>
    </div>
    <div>
      <button href="#" id="listePoint" class = "{{ observable.class_state }}" name="Point" value="Point">Sur une liste de points</button>
    </div>
    <div>
      <button href="#" id="emprise" class = "{{ observable.class_state }}" name="Point" value="Point">Sur une emprise</button>
    </div>

    {% if currenturl == "alti" %}
        <div>
      <button href="#" id="catalog" class = "{{ observable.class_state }}" name="Point" value="Point">Catalogue</button>
    </div>
    {% endif %}


  <div>
      <button href="#" id="FAQ__Btn" onclick="openFaq()">En savoir plus</button>
    </div>
  </div>


  <div id="FAQ" class="faq">
    <span class="helper"></span>
    <div>
      <div id = "popupCloseButton" class="popupCloseButton"  onclick="closeFaq()">&times;</div>


    {% if currenturl == "alti" %}

          <h1>Altitudes</h1>
      <div id = "faqContent">
<p>
        Il existe plusieurs manières de déterminer l'altitude d'un point M :
        <p>
        L'altitude par nivellement géometrique qui se détermine
        par mesure de proche en proche à partir de points de réferences. Cette méthode
        n'est applicable que sur des chantiers de quelques kilomètres, elle n'est donc pas
        representée ici;</p>
        <p>
         L'altitude dynamique est principalement utilisée
         dans le monde scientifique mais elle reste non usuelle,
         elle est calculée en considérant la pesanteur constante
         quelque soit les coordonnées du point M;
        </p>
        <p>
        L'altitude orthométrique issue d'un calcul itératif
         elle prend en considération la pesanteur en chaque point</p>

     <img class="fig" src="{% static 'ivog_app/img/alti_ortho.png' %}">
     <p> Altitude orthométrique, source: Cours d'Introduction à la Géodésie par Guillaume Lion</p>

  <p>L'altitude normale se calcule sans tenir compte des variations
          de densité entre le géoïde et la surface topographique. Elle détermine
          le système de réference du nivellement général de la France (IGN69).</p>
     <img class="fig" src="{% static 'ivog_app/img/alti_norma.png' %}">
     <p>Altitude normale, source: Cours d'Introduction à la Géodésie par Guillaume Lion



    {% else %}
            <h1> Champ et potentiel</h1>
      <div id = "faqContent">

     <p>Le champ de pesanteur g (en m/s²) est la somme de l'accélération
     gravitationelle, accélération centrifuge et
     accélération causée par l'effet de marée.
     Elle se calcule comme le gradient de W.</p>

     <img class="fig" src="{% static 'ivog_app/img/attraction astre.png' %}">
     <p>Attraction d'un astre homogène ponctuel, source: Cours d'Introduction à la Géodésie par Guillaume Lion</p>


     <img class="fig2" src="{% static 'ivog_app/img/acceleration centrifuge.png' %}">
     <p>Accélération centrifuge, source : Wikipedia </p>



     <p>
    Le potentiel de pesanteur W (en m²/s²) s'exprime comme la capacité
    qu'a un objet (ici la Terre) à attirer un autre objet
    vers lui même.
        </p>

    <p>
    Elle varie selon la masse de l'objet et la structure
    de la matière de l'objet attirant à l'aplomb de l'objet
    attiré. On représente généralement le potentiel de pesanteur
    par des lignes équipotentielles.
    figure</p>

    <img class="fig" src="{% static 'ivog_app/img/equipotentielle-continent.png' %}">
    <p> Equipotentielle de pesanteur deformée par la structure du sol, source : ENS Lyon</p>


    <p>

    Cette illustration met en valeur la variation du potentiel
    de pesanteur en fonction de la structure du sol.
    </p>


    {% endif %}

      </div>
    </div>
  </div>

  {% block main %}
  {% endblock %}

</div>

{{ clickChoice|json_script:"clickChoice" }}

<script src =  "{% static 'ivog_app/js/externeLib/Leaflet_heat/dist/leaflet-heat.js' %}"></script>
<script src =  "{% static 'ivog_app/js/clickPointListPointEmpriseManager.js' %}"></script>


<script>

  function openNav() {
    document.getElementById("mySidenav").style.width = "236px";
    //document.getElementById("main").style.marginLeft = "236px";
  }

  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft = "0";
  }

  function openFaq() {
    document.getElementById("FAQ").style.display = "block";

  }

  function closeFaq() {
    document.getElementById("FAQ").style.display = "none";
  }
</script>

{% endblock %}